$primary-color: #0a0537;
$yellow: #f7af4c;
$background: #ecebf0;
$gray: #aeaeb6;
$mediumGray: #e1e1e1;
$lightGray: #f4f4f4;
$green: #40b17b;
$orange: #ff5731;
$white: #fff;

$lightPrimary: #0a0537;

// OTHER VARIABLES----------------------------------------------
