@import "../../Styles/variables";

.mainPopupContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0px;
  overflow-y: auto;
  z-index: 999999;

  .innerPopupContainer {
    width: 90%;
    height: auto;
    max-width: 500px;
    background: $white;
    display: flex;
    flex-direction: column;
    border-radius: 16px;

    .popupHeader {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $mediumGray;

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: $primary-color;
        margin: 0px;
      }

      label {
        height: 30px;
        width: 30px;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1.2rem;
        color: #fff;
      }
    }

    .popupBodyContainer {
      flex: 1;
      padding: 15px 20px;
      position: relative;

      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-bottom-right-radius: 16px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .imageUploader {
        width: 100%;
        height: 200px;
        border: 2px dashed rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        position: relative;

        .inputUploader {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            opacity: 0;
          }

          label {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: $mediumGray;
            font-size: 5rem;

            h2 {
              color: $mediumGray;
              font-size: 1.1rem;
              margin: 0px;
              margin-top: 10px;
              font-weight: 600;
            }
          }

          &.active {
            label {
              opacity: 0;
              transition: 0.2s linear;

              i {
                color: $white;
              }

              h2 {
                color: $white;
              }

              &:hover {
                opacity: 1;
                transition: 0.2s linear;
              }
            }
          }
        }

        .displayImg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .formDataPopupContainer {
        width: 100%;
        margin-top: 20px;

        .inputBx {
          width: 100%;
          margin: 10px 0px;
          position: relative;

          .inputTags {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            padding: 8px 18px;
            background: $primary-color;
            color: $white;
            border-radius: 5px;
            font-size: 0.9rem;
            font-weight: 500;
          }

          input {
            width: 100%;
            height: 48px;
            padding: 10px 15px;
            font-size: 1rem;
            color: $primary-color;
            font-weight: 500;
            border: 1px solid $mediumGray;
            border-radius: 4px;

            &::placeholder {
              color: $gray;
              font-weight: 400;
            }

            &:focus {
              outline: 2px solid $primary-color;
            }
          }

          textarea {
            width: 100%;
            height: 100px;
            padding: 10px 15px;
            font-size: 1rem;
            color: $primary-color;
            font-weight: 500;
            outline-color: $primary-color;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            resize: none;

            &::placeholder {
              color: $mediumGray;
            }
          }
        }
      }

      .popupCtaBtns {
        padding: 15px 0px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          padding: 12px 30px;
          font-size: 1rem;
          font-weight: 500;
          border: 1px solid $mediumGray;
          border-radius: 4px;
          background: transparent;
          color: $mediumGray;
          margin: 0px 10px;
          cursor: pointer;

          &:nth-child(2) {
            background: $primary-color;
            color: $white;
            border-color: $primary-color;
          }
        }
      }
    }
  }
}
